body {
  font-family: 'Source Sans Pro Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.cv-container {
  position: relative;
  overflow: hidden;
  height: 600px;
  width: 1000px;
  touch-action: none;
}
#cv-frame *,
#cv-tab-box *,
#cv-frame,
#cv-tab-box {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#cv-frame {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 300px;
  background-color: #222222;
  transform: translateX(-300px);
  transition: transform 0.25s ease-in;
  z-index: 10;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 12px;
}
#cv-frame div.page {
  position: absolute;
  top: 0px;
  bottom: 40px;
  left: 0px;
  height: 100%;
  width: 280px;
  padding: 2px 4px 20px 20px;
  background-color: #222222;
  color: white;
  cursor: default;
}
#cv-frame div.page ul {
  list-style-type: none;
  height: 100%;
  width: 280px;
  margin: 0;
  padding: 0 4px 0 0;
  cursor: default;
  overflow-y: visible;
  overflow-x: hidden;
}
#cv-frame div.page li {
  position: relative;
  margin-left: 20px;
  border-bottom: 1px solid #444444;
}
#cv-frame div.page ul li.selected,
#cv-frame div.page li:hover,
#cv-frame div.page div#ui-path:hover,
#cv-frame div.page div#ui-path span {
  color: #1ab4e5;
}
#cv-frame div.page div.slide {
  position: absolute;
  top: 82px;
  bottom: 4px;
  left: 0px;
  max-height: 100%;
  background-color: #222222;
  transition: transform 0.25s ease-in;
}
#cv-frame div.slide-out {
  border-right: 1px solid grey;
  transform: translateX(-100%);
}
#cv-frame div.page div.descend-tree {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0;
  color: #1ab4e5;
  z-index: 110;
}
#cv-frame.onscreen {
  transform: none;
  transition: transform 0.25s ease-out;
}
#cv-tab-box {
  position: absolute;
  top: 0px;
  width: 40px;
  z-index: 200;
  transform: none;
  transition: transform 0.25s ease-in;
}
#cv-tab-box.onscreen {
  transform: translateX(300px);
  transition: transform 0.25s ease-out;
}
#cv-tab-box .tab {
  float: left;
  height: 40px;
  width: 40px;
  border-top: 1px solid black;
  border-left: 1px solid grey;
  background-color: #444444;
  background-origin: content-box;
  background-image: url(../images/icons.png);
  padding: 1px;
}
#cv-tab-box #close {
  background-color: #222222;
  background-image: url(../images/icons.png);
  background-position: -360px;
  border-left: none;
  display: none;
}
#cv-tab-box.onscreen #close {
  display: block;
  margin-left: -100px;
  z-index: 200;
}
#cv-tab-box #fullscreen {
  display: none;
  border-left: none;
  background-color: #222222;
}
#cv-tab-box.onscreen #fullscreen {
  display: block;
  position: absolute;
  top: 0px;
  left: -60px;
  z-index: 400;
}
#fullscreen.expand {
  background-image: url(../images/icons.png);
  background-position: -252px;
}
#fullscreen.collapse {
  background-image: url(../images/icons.png);
  background-position: -216px;
}
#cv-tab-box #icon_settings {
  background-position: 0 0;
}
#cv-tab-box #icon_terrain {
  background-position: -36px 0;
}
#cv-tab-box #icon_explore {
  background-position: -72px 0;
}
#cv-tab-box #icon_route {
  background-position: -108px 0;
}
#cv-tab-box #icon_info {
  background-position: -144px 0;
}
#cv-tab-box #icon_help {
  background-position: -180px 0;
}
#cv-tab-box.onscreen div.toptab {
  background-color: #222222;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: none;
  border-right: 2px solid #1ab4e5;
}
@media (min-width: 768px) {
  /* default to normal size */
  body div.toggle-fullscreen {
    position: fixed !important;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: auto !important;
    width: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 999;
  }
}
@media (max-width: 767px) {
  #cv-frame {
    width: 100%;
    transform: translateY(-100%);
  }
  #cv-frame.onscreen {
    padding-top: 40px;
  }
  #cv-frame div.page {
    width: 95%;
    top: 40px;
  }
  #cv-frame div.page div.slide,
  #cv-frame div.slide ul {
    width: 100%;
  }
  #cv-tab-box {
    left: 0px;
    right: 0px;
    height: 40px;
    width: auto;
  }
  #cv-tab-box.onscreen {
    transform: none;
    background-color: #444444;
    border-bottom: thin solid white;
  }
  #cv-tab-box.onscreen .tab {
    border-bottom: thin solid white;
  }
  #cv-tab-box.onscreen #fullscreen.tab {
    position: static;
    float: left;
    margin: 0;
    background-color: #444444;
  }
  /* default to full screen */
  body div.cv-container:not( .toggle-fullscreen ) {
    position: fixed !important;
    top: 0px !important;
    bottom: 0px !important;
    left: 0px !important;
    right: 0px !important;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 999;
  }
  #cv-tab-box.onscreen div.toptab {
    border-left: none;
    border-right: 1px solid grey;
    border-top: 4px solid #1ab4e5;
    border-bottom: none;
    z-index: 20;
  }
  #cv-tab-box #close {
    position: fixed;
    background-color: #444444;
    background-image: url(../images/icons.png);
    background-position: -324px;
    top: 0px;
    right: 0px;
    left: auto;
  }
  #cv-tab-box.onscreen #close {
    float: right;
    margin: 0;
  }
}
#cv-frame div.page div.header {
  height: 40px;
  margin: 0;
  padding: 22px 0 1px 0;
  border-bottom: 1px solid grey;
  border-bottom-color: white;
  line-height: 16px;
  font-weight: bold;
}
#cv-frame div.page div.control {
  position: relative;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid grey;
}
#cv-frame div.page label {
  display: block;
  height: 24px;
  padding: 4px 0 4px 2px;
  line-height: 16px;
}
#cv-frame div.page select {
  display: inline-block;
  height: 18px;
  width: 60%;
  max-width: 100%;
  margin: 0 0 4px 0;
  padding: 0;
  border: none;
  background-color: #3c3c3c;
  color: white;
  outline: none;
}
#cv-frame div.page select:empty {
  background-color: #888888;
  display: none;
}
#cv-frame a.download,
#cv-frame div.page button {
  display: block;
  height: 24px;
  width: 100%;
  margin: 16px 0 4px 0;
  padding: 0;
  border: none;
  border-bottom: 4px solid #106c89;
  background-color: black;
  color: #dddddd;
  box-shadow: 1px 1px 8px 0px grey;
  outline: none;
  text-decoration: none;
  text-align: center;
}
#cv-frame a.download:hover,
#cv-frame div.page button:hover {
  border-bottom-color: #1ab4e5;
  color: white;
}
#cv-frame a.download:active,
#cv-frame div.page button:active {
  border-bottom-color: #106c89;
  box-shadow: none;
  box-shadow: inset 1px 1px 8px 0px grey;
  color: #dddddd;
}
#cv-frame div.page input[type="text"] {
  display: block;
  width: 100%;
  margin-top: 2px;
  margin-left: 0px;
}
#cv-frame div.page input[type="checkbox"] {
  position: absolute;
  right: 0px;
  bottom: 4px;
}
#cv-frame dt {
  clear: both;
  float: left;
  padding-left: 8px;
}
#cv-frame dd {
  margin-left: 60px;
}
#cv-frame p {
  padding-left: 8px;
  line-height: 18px;
}
#cv-frame p.spaced {
  margin-top: 18px;
}
#cv-frame a,
#cv-frame a:visited {
  padding-left: 8px;
  color: white;
  text-decoration: none;
}
#cv-frame a,
#cv-frame a:hover {
  color: #1ab4e5;
}
.overlay-branding {
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  margin: 4px;
}
#cv-frame input[type=checkbox]:checked + label {
  color: #1ab4e5;
}
#cv-frame div.page label.cv-range,
#cv-frame div.page label.cv-select {
  width: 40%;
  display: inline-block;
}
#cv-frame div.page input[type="range"] {
  display: inline-block;
  vertical-align: bottom;
  height: 24px;
  width: 60%;
  max-width: 100%;
  margin: 0;
  -webkit-appearance: none;
  background-color: transparent;
}
#cv-frame input[type=range]:focus {
  outline: none;
}
#cv-frame input[type=range]::-webkit-slider-runnable-track {
  height: 4px;
  width: 100%;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #eeeeee;
  border-radius: 0px;
  border: 0px solid #010101;
}
#cv-frame input[type=range]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border: 1px solid #00001E;
  border-radius: 15px;
  background: #1ab4e5;
  box-shadow: 0px 0px 0px #000031;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
#cv-frame input[type=range]:focus::-webkit-slider-runnable-track {
  background: #eeeeee;
}
#cv-frame input[type=range]::-moz-range-track {
  height: 4px;
  width: 100%;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #eeeeee;
  border-radius: 0px;
  border: 0px solid #010101;
}
#cv-frame input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border: 1px solid #00001E;
  border-radius: 15px;
  background: #1ab4e5;
  box-shadow: 0px 0px 0px #000031;
  cursor: pointer;
}
#cv-frame input[type=range]::-ms-track {
  height: 4px;
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
#cv-frame input[type=range]::-ms-fill-lower {
  box-shadow: 0px 0px 0px #000000;
  background: #eeeeee;
  border-radius: 0px;
  border: 0px solid #010101;
}
#cv-frame input[type=range]::-ms-fill-upper {
  box-shadow: 0px 0px 0px #000000;
  background: #eeeeee;
  border-radius: 0px;
  border: 0px solid #010101;
}
#cv-frame input[type=range]::-ms-thumb {
  height: 16px;
  width: 16px;
  border: 1px solid #00001E;
  border-radius: 15px;
  background: #1ab4e5;
  box-shadow: 0px 0px 0px #000031;
  cursor: pointer;
  margin-top: 1px;
}
#cv-frame input[type=range]:focus::-ms-fill-lower,
#cv-frame input[type=range]:focus::-ms-fill-upper {
  background: #eeeeee;
}
