
h1, h2 {

	margin: 0 16px 1em 16px;

}

h3, h4, p, pre, dl {

	margin-left: 32px;
	margin-right: 32px;

}

h2 {
	border-bottom: 2px solid gray;
}

h3 {
	margin-top: 2em;
	background-color: #eeeeee;
}

* {
	font-family: sans-serif;
}

pre {
	font-family: monospace;
	font-weight: bold;
	background-color: #eeeeee;
	padding: 8px 8px;
}

dd > span {
	background: #aaaaaa;
}

dd > span::before {
	content: "["
}

dd > span::after {
	content: "] "
}

dt {
	margin-bottom: 0.5em;
	font-weight: bold;
	color: #666666;
	padding-left: 16px;
}

dd {
	margin-bottom: 1em;
}
