body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro Regular','Helvetica Neue',Helvetica,Arial,sans-serif;
}

div.cv-panel {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: rgba(50,50,50,0.5);
	color: yellowgreen;
	border: 1px solid black;
	border-radius: 5px;
}

div.cv-compass, div.cv-ahi {
	position: absolute; 
	bottom: 95px;
	right: 5px;
	margin: 0;
	padding-top: 2px;
	/*	border: 1px solid white; */
	text-align: center;
	width: 78px;
	height: 19px;
	z-index: 100;
	background-color: rgba(50,50,50,0.5);
	background-color: black;
	color: white;
}
	
div.cv-ahi {
	right: 95px;
}

div.scale-legend {
	position: absolute;
	color: white;
	background-color: black;
	bottom: 30px;
}

div.linear-scale {
	position: absolute;
	color: white;
	background-color: black;
	right: 30px;
	width: 40px;
	padding: 2px 0;
	text-align: right;
	border: 1px solid black;
	font-size: 14px;
}

div.linear-scale-caption {
	position: absolute;
	color: white;
	background-color: black;
	right: 5px;
	width: 65px;
	padding: 2px 0 5px 0;
	text-align: left;
	border: 1px solid black;
	font-size: 14px;
}

#min-div {
	border-bottom: 1px solid white;
}

#max-div {
	border-top: 1px solid white;
}

#angle-legend {
	position: absolute;
	width: 80px;
	right: 5px;
	bottom: 180px;
	color: white;
	background-color: black;
	font-size: 14px;
	text-align: center;
}

#scene {
	width: 100%;
	height: 700px;
	position: relative;
}

#progress-bar {
	position: absolute;
	top: 55%;
	height: 20px;
	border: 1px solid white;
	z-index: 100;
}

#status-text {
	position: absolute;
	top: 50%;
	height: 20px;
	padding-left: 4px;
	background-color: black;
	color: white;
	z-index: 100;
}

#frame div.page ul {
	list-style-type: none;
	margin: 8px 0 0 0;
	padding: 0;
	width: 200px;
	height: 100%;
	cursor: default;
	font-size: 12px;
	overflow-y: auto;
	overflow-x: hidden;
}

#frame div.page li {
	position: relative;
	margin-left: 16px;
	border-bottom: 1px solid #444444;
}

#frame div.page li.selected {
	color: lime;
}

#frame div.page div#ui-path {
	font-size: 12px;
	border-top: 1px solid grey;
	margin-top: 8px;
	padding: 12px 0 0 16px;
	margin: 0;
	bottom: 44px;
}

#frame div.page div#ui-path span {
	color: lime;
}

#frame div.page div.slide {
	position: absolute;
	top: 64px;
	left: 0px;
	height: auto; 
	margin-top:0;
	bottom: 44px;
	background-color: #222222;
	transition: transform 0.25s ease-in;
}

#frame div.slide-out {
	border-right: 1px grey solid;
	transform: translateX(-100%);
}

#frame div.page div.descend-tree {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 0;
	color: lime;
	z-index: 110;
}

#frame {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 240px;
	height: 100%;
	background-color: transparent;
	transform: translateX(-200px);
	transition: transform 0.25s ease-in;
}

#frame.onscreen {
	transform: none;
	transition: transform 0.25s ease-out;
}

#frame .tab {
	position: absolute;
	right: 0px;
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	background-color: #444444;
	border-left: 1px solid black;
	background-position: center;
	border-top: 1px solid black;
}

#frame #close {
	position: absolute;
	right: 40px;
	bottom: 0px;
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	z-index: 150;
	background-image: url(../images/ic_remove.png);
	background-position: center;
}

#icon_settings {
	background-image: url(../images/ic_settings.png);
}

#icon_explore {
	background-image: url(../images/ic_explore.png);
}

#icon_info {
	background-image: url(../images/ic_info.png);
}

#icon_help {
	background-image: url(../images/ic_help.png);
}

#frame div.toptab {
	background-color: #222222;
	border-left: none;
	border-right: 1px solid grey;
	border-top: 1px solid grey;
}

#frame div.page {
	position: absolute;
	top: 0px;
	bottom: 40px;
	left: 0px;
	width: 200px;
	height: 100%;
	color: white;
	background-color: #222222;
	padding: 0 4px;
	box-sizing: border-box;
	cursor: default;
	padding-bottom: 40px;
}

#frame div.page div.header {
	margin: 16px 0px 8px 0px;
	font-weight: bold;
	height: 16px;
	box-sizing: border-box;
}


#frame div.page div.control {
	margin: 2px 0 2px 0;
	padding-top: 2px;
}

#frame div.page label {
	display: block;
	border-top: 1px solid grey;
	padding: 2px 0 2px 0;
	font-size: 12px;
}

#frame div.page select {
	display: block;
	width: 180px;
	box-sizing: border-box;
	padding-top: 2px;
	margin-left: 8px;
}


#frame div.page input[type="checkbox"] {
	position: absolute;
	right: 0px;
}

#frame div.page input[type="range"] {
	display: block;
/*	position: relative;
	width: 184px;
	box-sizing: border-box;
*/
	margin-left: 8px;
}


#frame dt, #frame dd {
	font-size: 12px;
}

#frame dt {
	clear: both;
	float: left;
	padding-left: 16px;
}

#frame dd {
	marmgin-left: 40px;
}

#frame p {
	font-size: 12px;
	line-height: 18px;
}
