
h1, h2 {

	margin: 0 16px 1em 16px;

}

h3, h4, h5, p, pre, dl {

	margin-left: 32px;
	margin-right: 32px;

}

h2 {
	border-bottom: 2px solid gray;
}

h3 {
	color: navy;
}

h4 {
	margin-top: 2em;
	background-color: #eeeeee;
	padding: 3px 2px 1px 2px;
}

* {
	font-family: sans-serif;
}

pre {
	font-family: monospace;
	font-weight: bold;
	background-color: #eeeeee;
	padding: 8px 8px;
}

dd > span {
	display: inline-block;
	padding: 0 2px;
	margin-right: 5px;
	background: #eeeeee;
}

dd > span::before {
	content: "["
}

dd > span::after {
	content: "]"
}

dt {
	margin-bottom: 0.5em;
	font-weight: bold;
	color: #666666;
	padding-left: 16px;
}

dd {
	margin-bottom: 1em;
}
